/* Ajustes padrão na página */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root {
    --azul: #2c2cff;
    --branco: #FFF;
    --preto: #000;
    --cinza-claro: #cecece;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 65vw;
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.telefone-header, .local-header {
    color: var(--branco);
    display: flex;
    margin: 0 0.9rem;
}

.telefone-header h3, .local-header h3 {
    margin-left: 0.3rem;
    font-size: 0.7rem;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.cabecalho-informacoes {
    display: flex;
}

.logo-header {
    width: 4.5rem;
}

/* Menu */
.nav-lista {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.nav-lista li {
    padding-top: 0.5rem;
    display: inline-block;
    width: 100%;
    border-top: 2px solid var(--branco);
    transition: 600ms;
}

.nav-lista li:hover {
    border-top: 2px solid var(--azul);
}

.nav-lista a {
    color: var(--branco);
    text-decoration: none;
}

/* Principal */
.principal {
    display: grid;
    place-content: center;
    background: url('../img/bg-predios.jpg') center / cover no-repeat;
    height: 550px;
    width: 100%;
}

.principal-texto {
    color: var(--branco);
    text-align: center;
}

.principal-texto h1 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.7rem;
}

.principal-texto strong {
    font-size: 2rem;
}

.principal-texto a {
    color: var(--azul);
    margin-top: 0.5rem;
    border: none;
    background: var(--branco);
    padding: 0.5rem 2.8rem;
    border-radius: 2rem;
    cursor: pointer;
}

.principal-texto a {
    color: var(--azul);
    text-decoration: none;
}

/* Beneficios */
.beneficios {
    position: absolute;
    top: 428px;
    display: flex;
    box-shadow: 1px 2px 4px black;
    z-index: 2;

}

.card-beneficios {
    box-sizing: border-box;
    display: grid;
    place-content: center;
    background: var(--branco);
    text-align: center;
    width: calc(25% - 3rem);
    height: 244.266px;
    padding: 0 3rem;
    transition: all 600ms;
}

.card-beneficios:hover {
    color: var(--branco);
    background: var(--azul);
    transform: scale(1.1);
    z-index: 1;
}

/* Vantagens */
.vantagens {
    height: 550px;
}

.vantagens-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
}

.vantagens-steps {
    width: 41%;
    display: flex;
    justify-content: space-between;
}

.vantagens-steps input {
    width: 100%;
    position: relative;
}
